:root {
  --primary: #1e90ff;
  --primary-hover: #1e90ffdd;
  --primary-disabled: #aaa;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px;
  display: flex;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

main {
  display: flex;
  flex-direction: column;
}

.card__form {
  margin: 20px;
  padding: 20px;
  width: 50%;
  align-self: center;
}

@media only screen and (max-width: 750px) {
  .card__form {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  input[type="text"],
  input[type="password"],
  label {
    font-size: 4vw;
  }
}

label {
  margin-top: 15px;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 2px solid #f1f1f1;
}
input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  color: #aaa;
  opacity: 1;
  font-style: italic;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline-width: 0;
  border-bottom: 2px solid #aaa;
}

button {
  width: 100px;
  align-self: center;
  color: #fff;
  background-color: var(--primary);
  border: none;
  padding: 10px;
  border-radius: 10px !important;
  font-size: 13px !important;
}
button:disabled,
button:hover:disabled {
  background-color: var(--primary-disabled);
}

button:hover {
  background-color: var(--primary-hover);
}

.form__input-error {
  display: none;
  color: #f00;
}

.primary__link {
  color: var(--primary-hover);
  font-size: 13px;
  cursor: pointer;
}

.action-link {
  align-self: center;
  font-size: 13px;
}

.error-message {
  text-align: center;
  color: #f00;
}
